@import "../styles/variables";

.event-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  margin-top: 4em;
}

.details {
  font-size: medium;
  width: 20%;
  margin-bottom: 5px;
}

.description {
  font-size: medium;
  width: 20%;
  padding: 5px;
}
